* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('bg.jpeg');
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffffb2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: deeppink;
    margin-bottom: 20px;
}

#movie-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #da0000;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

button {
    background-color: #1faaaa;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: teal;
}

#clear-list-btn {
    background-color: #da0000;
}

#clear-list-btn:hover {
    background-color: #a70082;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

li {
    background-color: #ecf0f1;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-btn {
    background-color: rgb(65, 64, 64);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-btn:hover {
    background-color: #000000;
}

#total-movies {
    font-weight: bold;
    color: #3498db;
}
